<div class="shop-page">
  <div class="categories-menu">
    <h2 class="font-bold text-center">Shop by Category</h2>
    <div class="grid mt-md">
      <button
        class="border bg-white rounded clickable bg-hover py-xxs"
        [ngClass]="{ 'active' : filter.name === productService.activeFilter }"
        *ngFor="let filter of filters"
        (click)="filterProducts(filter.name)">{{ filter.label }}
      </button>
    </div>
  </div>

  <section>
    <div class="grid mt-md">
      <div
        class="item"
        *ngFor="let product of products"
      >
        <img [src]="product && product.product_img_url" alt="">
        <p class="font-bold mt-xxs">{{ product.product_name }}</p>
        <p class="font-light mt-xxs">{{ product.product_manufacturer }}</p>
        <p class="text-highlight mt-xxs">{{ product.product_price }}</p>
        <div class="flex justify-between">
          <button
            class="mt-xs bg-white border py-xxs px-xs rounded clickable mx-xxs bg-hover"
            [routerLink]="['/product', product.product_id]"
          >View Details</button>
          <button
            class="mt-xs bg-primary text-white py-xxs px-xs rounded clickable mx-xxs bg-hover text-dark-hover"
            (click)="checkoutService.addToCart(product)"
          >Add to Cart</button>
        </div>
      </div>
    </div>
  </section>
</div>
