<div class="shop-page">
  <div class="categories-menu">
    <h2 class="font-bold text-center">Shop by Category</h2>
    <div class="grid mt-md">
      <button
        class="border bg-white rounded clickable bg-hover py-xxs"
        [ngClass]="{ 'active' : filter.name === productService.activeFilter }"
        *ngFor="let filter of filters"
        (click)="filterProducts(filter.name)">{{ filter.label }}
      </button>
    </div>
  </div>

  <section>
    <div class="grid mt-md">
      <div
        class="item clickable border-hover"
        *ngFor="let product of products"
        [routerLink]="['/product', product.product_id]"
      >
        <img [src]="product && product.product_img_url" alt="">
        <p class="font-bold mt-xxs">{{ product.product_name }}</p>
        <p class="font-light mt-xxs">{{ product.product_manufacturer }}</p>
        <p class="text-highlight mt-xxs">{{ product.product_price }}</p>
      </div>
    </div>
  </section>
</div>

<style>
  .shop-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
    border: 1px solid black;
    padding: 2rem;
  }
  form div {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
</style>
