/* RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --gap-xxs: 0.5rem;
  --gap-xs: 1rem;
  --gap-sm: 2rem;
  --gap-md: 4rem;
  --color-white: white;
  --color-light-gray: rgb(238, 238, 238);
  --color-gray: rgb(192, 192, 192);
  --color-text-dark-gray: rgb(78, 71, 86);
  --color-text-highlight: red;
  --border-radius-sm: 5px;
  --border-radius: 10px;
  --border-hover: 1px solid rgba(0, 0, 0, 0.1);
  --bg-hover: rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6, p, a, button {
  color: var(--color-text-dark-gray);
  text-decoration: none;
}

/* LAYOUT */
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: var(--gap-xs);
  row-gap: var(--gap-md);
}

.grid .item {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--gap-sm) var(--gap-xs);
  border-radius: 10px;
}

.flex { display: flex; }
.justify-center { justify-content: center; }
.align-center { align-items: center; }
.direction-column { flex-direction: column; }

.text-center { text-align: center; }

.mt-xxs { margin-top: var(--gap-xxs); }
.mt-xs { margin-top: var(--gap-xs); }
.mt-md { margin-top: var(--gap-md); }

.py-xxs { padding-top: var(--gap-xxs); padding-bottom: var(--gap-xxs); }

/* FONT */
.font-light { font-weight: lighter; }
.font-bold { font-weight: bold; }

/* COLOR */
.bg-white { background-color: var(--color-white); }
.text-highlight { color: var(--color-text-highlight); }

/* BORDER */
.border { border: 0.5px solid var(--color-gray); }
.rounded { border-radius: var(--border-radius); }

/* STATE */
.clickable:not(a):hover { cursor: pointer; }
.border-hover:hover { border: var(--border-hover); }
.bg-hover:hover { background-color: var(--bg-hover); }
a:hover { cursor: pointer; text-decoration: underline; }
button.active { background-color: var(--color-light-gray); }

@media(min-width: 500px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 800px) {
  .grid { grid-template-columns: repeat(4, 1fr); }
}
