<div class = "product-page" >
    <div class = "product">
        <div class = "product-image" style = "width: 50%; float: left">
            <img src = "https://media.guitarcenter.com/is/image/MMGS7/M07990000002000-02-600x600.jpg">
        </div>
        <div class = "product-info" style = "margin-left: 50%">
            <h3 class = "font-bold text-center">Gleaming Burst Electric Guitar</h3>
            <div class = "price">
                <p>$3876.99</p>
            </div>
        </div>
    </div>
</div>