<div class="product-page">
  <div class="product mt-md">
    <div class="flex justify-center align-center">
          <img [src]="product && product.product_img_url" [alt]="product && product.product_name"/>
      </div>
    <div class="flex justify-center align-center direction-column text-center">
      <h1 class="font-bold">{{ product && product.product_name }}</h1>
      <h2 class="text-highlight mt-xs">${{ product && product.product_price }}</h2>
      <p class="mt-xs">{{ product && product.product_manufacturer }}</p>
      <p class="mt-xs">{{ product && product.product_description }}</p>
    </div>
  </div>
</div>
