.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.product-image {
  display: flex;
  justify-content: center;
}
.price {
    color: var(--color-text-highlight);
}

img {
    max-width: 400px;
    max-height: 400px;
}
