<div class="checkoutbody">
    <div class="threeInput">
        <h1>Checkout</h1>
        <h2>Shipping address</h2>
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <br>
        <div><input type="text" placeholder="Street address"></div>
        <input type="text" placeholder="City">
        <input type="text" placeholder="State">
        <div><input type="text" placeholder="ZIP Code">
            <input type="text" placeholder="Country">
        </div>
        <h2>Payment information</h2>
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <br>
        <div><input type="text" placeholder="Card number"></div>
        <div><input type="text" placeholder="Expiration">
            <input type="text" placeholder="CVV Code">
        </div>
        <h2>Billing Address</h2>
        <input type="checkbox" id="sameAsShipping">
        <label for="sameAsShipping">Same as shipping address</label>
        <br>
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <br>
        <div><input type="text" placeholder="Street address"></div>
        <input type="text" placeholder="City">
        <input type="text" placeholder="State">
        <div><input type="text" placeholder="ZIP Code">
            <input type="text" placeholder="Country">
        </div>
    </div>
    <div class="picture">
        <h1>Order total</h1>
        <div class="guitar">
            <img src="assets/bass-guitar.jpeg" alt="">
            <p>Gibson Electric guitar</p>
            <h2>$299</h2>
        </div>
        <h2>Order Total</h2>
    </div>
</div>