<div class="shop-page">
  <app-grid
    [items]="products"
  ></app-grid>
  <form (ngSubmit)="handleSubmit()">
    <div>
      <label for="customer_name"> Ramil's Name: </label>
      <input id="customer_name" type="text" name="customer_name" [ngModel]="checkout_info.customer_name"/>
    </div>
    <div>
      <label for="customer_phone">Phone:  </label>
      <input id="customer_phone" type="text" name="customer_phone" [ngModel]="checkout_info.customer_phone"/>
    </div>
    <div>
      <label for="delivery_address_1">Delivery Address Line 1: </label>
      <input id="delivery_address_1" type="text" name="delivery_address_1" [ngModel]="checkout_info.delivery_address_1"/>
    </div>
    <div>
      <label for="delivery_address_2">Delivery Address Line 2: </label>
      <input id="delivery_address_2" type="text" name="delivery_address_2" [ngModel]="checkout_info.delivery_address_2"/>
    </div>
    <div>
      <label for="delivery_address_city">City: </label>
      <input id="delivery_address_city" type="text" name="delivery_address_city" [ngModel]="checkout_info.delivery_address_city"/>
    </div>
    <div>
      <label for="delivery_address_state">State: </label>
      <input id="delivery_address_state" type="text" name="delivery_address_state" [ngModel]="checkout_info.delivery_address_state"/>
    </div>
    <div>
      <label for="delivery_address_zip">ZIP: </label>
      <input id="delivery_address_zip" type="text" name="delivery_address_zip" [ngModel]="checkout_info.delivery_address_zip"/>
    </div>
    <div>
      <label for="delivery_address_country">Country: </label>
      <input id="delivery_address_country" type="text" name="delivery_address_country" [ngModel]="checkout_info.delivery_address_country"/>
    </div>
    <input type="hidden" name="order_total" [ngModel]="checkout_info.order_total"/>
    <input type="hidden" name="order_product_ids"  [ngModel]="checkout_info.order_product_ids"/>

    <h3>Order Total: ${{ checkout_info.order_total }}</h3>
    <br>
    <div>
      <br>
      <button type="submit" style="font-size: 1.25rem;">Place Order</button>
    </div>
  </form>
</div>

<style>
  .shop-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form {
    border: 1px solid black;
    padding: 2rem;
  }
  form div {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
</style>

