<div class="cart-page">
  <h2 class="font-bold">Your Cart</h2>
  <div class="cart-info">
    <div class="cart">
        <div *ngIf="!products || !products.length; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <strong>Your shopping cart is empty.</strong><br>
            Time to find some great guitars to play!
        </ng-template>
        <ng-template #elseBlock>
          <table>
            <tr *ngFor="let prod of products">
              <td>
                  <button
                    (click)="removeFromCart(prod)"
                    class="mt-xs bg-white border py-xxs px-xs rounded clickable mx-xxs bg-hover"
                  >Remove</button>
                </td>
              <td><img [src]="prod.product_img_url" [alt]="prod.product_name" ></td>
              <td><strong>{{prod.product_name}}</strong></td>
              <td></td>
              <td>${{prod.product_price}}</td>
            </tr>
          </table>
          <h3>Cart Total: ${{ checkoutService.getTotal() }}</h3>

          <br>
          <div class="checkoutButton">
            <a
              class="mt-xs bg-primary text-white py-xxs px-xs rounded clickable mx-xxs bg-hover text-dark-hover"
              routerLink="/checkout"
            >Checkout</a>
          </div>

        </ng-template>
        <button
          class="mt-xs bg-white border py-xxs px-xs rounded clickable mx-xxs bg-hover"
          (click)="removeAllFromCart()"
        >Empty Cart</button>
      </div>
  </div>
</div>
